<div class="seasons-block seasons-block-max">
    <div id="detail-ss-list" class="detail-seasons">
        <div class="detail-infor-content">
            <div class="ss-choice">
                <div class="ssc-list">
                    <div id="ssc-list" class="ssc-button">
                        <div class="ssc-label">List of episodes:</div>
                        <div class="ssc-name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-list mr-3"></i>
                            <span id="current-page"></span>
                            <i class="fas fa-angle-down ml-2"></i>
                        </div>
                        <div class="dropdown-menu dropdown-menu-model" aria-labelledby="ssc-list">
                            <a data-page="1" href="javascript:;" class="dropdown-item ep-page-item active">
                                EPS: 001-100
                            <i style="display: none;" class="fas fa-check ic-active ml-2"></i></a>
                            <a data-page="2" href="javascript:;" class="dropdown-item ep-page-item ">
                                EPS: 101-200
                            <i style="display: none;" class="fas fa-check ic-active ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ssc-quick">
                    <div class="sscq-icon"><i class="fas fa-search"></i></div> <input id="search-ep"
                        class="form-control" type="text" placeholder="Number of Ep" autocomplete="off">
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="episodes-page-1" class="ss-list ss-list-min" data-page="1" style="display: none;">
                <a class="ssl-item  ep-item" data-number="1" data-id="2142" href="/watch/one-piece-100?ep=2142">
                    <div class="ssli-order">1</div>
                    <div class="ssli-detail">
                        <div class="ep-name e-dynamic-name">EP NAME</div>
                    </div>
                    <div class="ssli-btn">
                        <div class="btn btn-circle"><i class="fas fa-play"></i></div>
                    </div>
                    <div class="clearfix">
                    </div>
                </a>
            </div>
            <div id="episodes-page-2" class="ss-list ss-list-min" data-page="1" style="display: none;">
                <a class="ssl-item  ep-item" data-number="1" data-id="2142" href="/watch/one-piece-100?ep=2142">
                    <div class="ssli-order">1</div>
                    <div class="ssli-detail">
                        <div class="ep-name e-dynamic-name">EP NAME</div>
                    </div>
                    <div class="ssli-btn">
                        <div class="btn btn-circle"><i class="fas fa-play"></i></div>
                    </div>
                    <div class="clearfix">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
</div>